html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

h1, h2, h3, h4, h5 {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background: #0e0e10;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 2em;
}

.avatar {
    width: 20em;
    height: auto;
    border-radius: 50%;
    padding: 1.6em;
    background-color: #000;
}

.brand-icon {
    margin-top: -1em;
    padding: 1em;
    border-radius: 15px;
    background: #000;
}

.logo {
    width: 10em;
    height: auto;
    fill: #fff;
    margin: auto;
}

.logo-condensed {
    display: none;
    width: 5em;
    height: auto;
    fill: #fff;
    margin: auto;
}

.links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.link {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    margin: 0 1em;
}

.icon {
    width: 1.6em;
    height: 1.6em;
    fill: #000;
    margin: auto;

    -webkit-transition: fill 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
    transition: fill 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.link:hover .icon, .link:active .icon {
    fill: #fff;
}

.link {
    fill: #888;
    background: #000;
    padding: 0.6em;
    border-radius: 10px;
}

.twitch .icon {
    fill: #8540e5;
}

.youtube .icon {
    fill: #cc2936;
}

.discord .icon {
    fill: #5562f2;
}

.twitter .icon {
    fill: #178fe5;
}

.instagram .icon {
    fill: #d62976;
}

@media only screen and (orientation: portrait) {
    main {
        transform: scale(80%);
    }
}